.chat-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Adjust this as needed */
}
  
.input-container {
  display: flex;
  gap: 10px; /* Provides space between the elements */
  margin-left: auto;
  margin-right: auto;
}

.input-container input {
  flex-grow: 1; /* Allows the input to take up remaining space */
}

.message-list {
  list-style: none; /* Remove dots */
  padding: 0; /* Remove padding */
  width: fit-content; /* Shrink wrap content */
  text-align: center;
}

.message-list li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px; /* Provide space between messages */
}

.message-role {
  margin-right: 20px; /* Provide space between role and content */
  width: 100px; /* Set this to a suitable value for your needs */
  text-align: left; /* Aligns text to the right */
}

.role {
  font-weight: 600; /* Make text bolder */
}

.message-wrapper {
  font-size: 16px;
  display: flex;
  align-items: left;
  transition: transform 0.2s ease-in-out; /* Added transition */
}

.message-content {
  justify-content: space-between;
  text-align: left; /* Aligns text to the right */
  width: 300px;
  margin-right: 10px;
}

.action-wrapper {
  min-width: 30px; /* Set this to a suitable value for your needs */
  min-height: 30px;
  text-align: right; /* Aligns button to the right */
}

.message-actions {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  background: none; /* Removes the default button background */
  border: none; /* Removes the default button border */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  color: darkgray; /* Changes the color of the button */
  font-size: 20px; /* Changes the size of the button */
  padding-right: 0px; /* Removes the default button padding */
  margin-left: 0px; /* Adds a bit of space between the message and the button */
  display: flex; /* Makes sure the button contents are centered */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  position: relative;
}

li:hover .message-actions {
  opacity: 1; /* Show the button on hover */
}

.message-wrapper:hover {
  transform: scale(1.02); /* Added hover effect */
}

.message-actions:hover {
  transform: scale(1.1); /* Added hover effect */
  background-color: whitesmoke;
  margin-left: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  color: grey;
}

.message-text:hover {
  background-color: whitesmoke;
  margin: -5px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.input-container button {
  font-family: var(--font-mono);
  transition: transform 0.1s ease-in-out;
  background-color: lightgray;
  border: none; /* Removes the default button border */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  outline: none; /* Removes the focus outline */
  padding: 1; /* Removes the default button padding */
  display: flex; /* Makes sure the button contents are centered */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 30px;
  width: 40px;
  border-radius: 8px;
}

.input-container button:hover {
  color: gray;
}

.input-button:hover {
  transform: scale(1.07); /* Added hover effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Adds a slight shadow for depth */
}

.input-button:active {
  transform: scale(0.9);
}

.input-button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
  font-size: 16px;
  width: 50px;
  color: darkgray;
}

.input-box {
  font-family: 'Inter', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
  color: gray;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
  width: 250px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  line-height: 20px;
  border-radius: 8px;
}

.edit-box {
  font-family: 'Inter', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Adds a slight shadow for depth */
  color: gray;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -10px;
  margin-right: -10px;
  resize: none;
  line-height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.input-box:hover {
  width: 300px; /* Set larger width when input box is focused */
}

.input-box:focus {
  width: 300px; /* Set larger width when input box is focused */
}

.role-icon {
  font-size: 10px;
}

.dropdown-menu {
  position: absolute; /* Positions the dropdown relative to the nearest positioned ancestor */
  display: flex;
  flex-direction: row; /* Aligns the items vertically */
  background-color: #fff; /* Changes the background color to white */
  padding: 5px; /* Adds a little space around the items */
  /* border: 1px solid #ddd; /* Adds a light gray border */
  border-radius: 5px; /* Rounds the corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
  z-index: 1000; /* Ensures the dropdown appears on top of other elements */
  right: 1; /* Positions the dropdown menu to the right */
  margin-top: -30px;
  margin-left: 40px;
}

.dropdown-menu button {
  color: grey;
  background: none; /* Removes the default button background */
  border: none; /* Removes the default button border */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  width: 100%; /* Ensures each button takes up the full width of the dropdown */
  text-align: left; /* Aligns the text to the left */
  padding: 5px; /* Adds some space around the text */
  transition: transform 0.1s ease-in-out;
}

.dropdown-menu button:hover {
  border-radius: 5px; /* Rounds the corners */
  transform: scale(1.25); /* Added hover effect */
  background-color: #f6f6f6; /* Changes the background color when hovered */
}

.title {
  opacity: 10%;
  font-size: 32px; 
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  text-align: center;
  user-select: none;  /* Added this line */
}

.message-hidden {
  opacity: 25%;
}