.chat-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Adjust this as needed */
}
  
.input-container {
  display: flex;
  gap: 10px; /* Provides space between the elements */
  margin-left: auto;
  margin-right: auto;
}

.input-container input {
  flex-grow: 1; /* Allows the input to take up remaining space */
}

.message-list {
  list-style: none; /* Remove dots */
  padding: 0; /* Remove padding */
  width: fit-content; /* Shrink wrap content */
  text-align: center;
}

.message-list li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px; /* Provide space between messages */
}

.message-role {
  margin-right: 20px; /* Provide space between role and content */
  width: 100px; /* Set this to a suitable value for your needs */
  text-align: left; /* Aligns text to the right */
}

.role {
  font-weight: 600; /* Make text bolder */
}

.message-wrapper {
  font-size: 16px;
  display: flex;
  align-items: left;
  transition: transform 0.2s ease-in-out; /* Added transition */
}

.message-content {
  justify-content: space-between;
  text-align: left; /* Aligns text to the right */
  width: 300px;
  margin-right: 10px;
}

.action-wrapper {
  min-width: 30px; /* Set this to a suitable value for your needs */
  min-height: 30px;
  text-align: right; /* Aligns button to the right */
}

.message-actions {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: none; /* Removes the default button background */
  border: none; /* Removes the default button border */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  color: darkgray; /* Changes the color of the button */
  font-size: 20px; /* Changes the size of the button */
  padding: 0; /* Removes the default button padding */
  margin-left: 0px; /* Adds a bit of space between the message and the button */
  display: flex; /* Makes sure the button contents are centered */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

li:hover .message-actions {
  opacity: 1; /* Show the button on hover */
}

.message-wrapper:hover {
  transform: scale(1.02); /* Added hover effect */
}

.message-actions:hover {
  background-color: lightgray;
  border-radius: 5px;
  color: grey;
}

.input-container button {
  transition: transform 0.2s ease-in-out;
  background-color: lightgray;
  border: none; /* Removes the default button border */
  cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
  outline: none; /* Removes the focus outline */
  padding: 1; /* Removes the default button padding */
  display: flex; /* Makes sure the button contents are centered */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 30px;
  width: 40px;
  border-radius: 5px;
}

.input-container button:hover {
  color: gray;
}

.input-button:hover {
  transform: scale(1.06); /* Added hover effect */
}

.input-button {
  font-size: 16px;
  width: 50px;
  color: darkgray;
}

.input-box {
  color: gray;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
  width: 250px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  line-height: 20px;
  border-radius: 5px;
}

.edit-box {
  color: gray;
  font-size: 16px;
  background-color: lightgray;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
  line-height: 20px;
  border-radius: 5px;
}

.input-box:hover {
  width: 300px; /* Set larger width when input box is focused */
}

.input-box:focus {
  width: 300px; /* Set larger width when input box is focused */
}

.role-icon {
  font-size: 10px;
}